@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --color-primary: 27 27 43;
  --color-background: 255 255 255;
}

:root[class="dark"] {
  --color-primary: 255 255 255;
  --color-background: 27 27 43;
}

body {
  font-size: 14px;
}

h1 {
  @apply text-[1.5rem] font-bold;
}

h2 {
  @apply text-[1.125rem] font-bold;
}

h3 {
  @apply text-[1rem] font-semibold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}